body{
	margin: 0px;
}
.linkformsupport a{
	  color: rgb(47, 121, 182);
	  font-family: tahoma;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration:none;
}
.linkformsupport a:hover{
	/* background-color:#8cbdde; */
	color:rgb(73, 74, 74);
}
.logosupport{
	float: left;
	width: 165px;
}
.logosupportimg{
	width:165px;
	margin-left:107px;
}
.linkformsupport{
	float: right;
	margin-top: 60px;
	margin-right: 130px;
}
.bodyask{
  width: 766px;
  margin:auto;
  height:auto;
}
.bodytaskChat {
  height: 400px;
  overflow: auto;
  margin-top: 23px;
  padding-top: 10px;
}
.colorful{
	color:#75b2db;
    font-family: verdana;
    font-size: 12px
}
.sendcontainer{
	  background-color: #325769;
	  margin-top:10px;
	  padding-top: 25px;
	  padding-bottom: 25px;
	
}
.sendlist{
	  height: 75px;
	  width: 530px;
	  margin-left: 142px;
	  max-width:530px;
	  max-height:75px;
	  border-radius:10px;
	  padding:5px;
}
.designer{
	  font-size: 10px;
	  color: #C8C7C7;
	  margin-left: 145px;
}
.commentsnamearticles a{
	font-weight:normal;
	  color: #1B89D3;
	  text-decoration: none;
}
