.addsavebuttonreports{
	font-family: agency fb2;
	font-size: 15px;
	font-weight: bold;
	border-radius: 5px;
	color: rgb(230, 230, 230);
	-moz-border-radius: 30px;
	background: rgb(28, 181, 239);
	background: -moz-linear-gradient(90deg, rgb(172, 42, 27) 30%, rgb(197, 56, 40) 78%);
	background: -webkit-linear-gradient(90deg, rgb(172, 42, 27) 30%, rgb(197, 56, 40) 78%);
	background: -o-linear-gradient(90deg, rgb(172, 42, 27) 30%, rgb(197, 56, 40) 78%);
	background: -ms-linear-gradient(90deg, rgb(172, 42, 27) 30%, rgb(197, 56, 40) 78%);
	background: linear-gradient(0deg, rgb(172, 42, 27) 30%, rgb(197, 56, 40) 78%);
	-moz-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
	border:none;
	width: 100px;
	height: 28px;
}

.form2550mHolder{
	margin-left: -264px;
	/* width: 1204px; */
	transform: scale(0.70);
	margin-top: -492px;
	image-rendering: -webkit-optimize-contrast;
}
input[type="text"]{
	font-weight: bold;
	text-align: right;
	font-size: 20px;
}
.BSText{
	padding-left:15px;
	padding-top:10px;
	font-size:24px;
	font-family:agency fb2;
	color: #c51400;
	float: left;
}

.DFs{
	padding-left:15px;
	border-radius: 10px;
	height:65px;
}
.ButInput{
	width: 133px;
	height: 28px;
	font-size: 12px;
	font-family: verdana;
	padding-left: 5px;
	border-radius: 5px;
	box-shadow: none;
	border: 1px solid rgba(128, 128, 128, 0.58);
	margin-left: 5px;
	margin-right: 5px;
}
.dateDiv{
	padding-top: 5px;
}
.dateDiv2{
	padding-top: 5px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}


.yearname{
	width:120px;
	height:26px;
}
	
.hmoDivider{
	width: 100%;
	height: 2px;
	border-radius: 2px;
	background: rgb(37, 181, 239);
	margin-top: 10px;
}
.generatediv{
	float:right;
	margin-top:8px;
	margin-right:5px;
}
.itrbutton{
	margin-right:8px;
}
.buttonbelow{
	float: right;
	margin-right:8px;
	margin-top: 14px;
}

.selectMonth {
	width: 133px;
    height: 27px;
    font-size: 13px;
    font-family: Verdana;
    padding-left: 5px;
    box-shadow: none;
    border-radius: 2px;
    border: 1px solid gray;
    margin-left: 5px;
    margin-right: 5px;
    outline-style: none;
}
.selectYear::-webkit-inner-spin-button{
	background-color:#c8c8c8;
height:21px; 
}	
.selectYear{
	width: 69px;
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	padding-left: 5px;
	border: 1px solid gray;
	border-radius: 2px;
	outline-style:none;
}
.lineDivider{
	height: 3px;
	width: 737px;
	background: #BE3323;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: -15px;
}
.gen101Holder{
	width:720px;
	height:1110px;
	box-shadow:2px 2px 15px #000;
	margin-left:9px;
	overflow: scroll;
	margin-top:20px;
}
.gen101{
	padding-top:47px;
} 
.buttonFS{
	float:right;
margin-right:5px;
}
.fileAndPayOnline{
	width: 150px;
	height: 28px;
	background: rgb(173, 172, 172);
	border: none;
	border-radius: 5px;
	color: rgb(250, 250, 250);
	font-family: agency fb2;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 1;
	cursor:pointer;
	outline-style:none;
}
.addsavebutton{
	cursor:pointer;
}
.txtMOnthYear{
	font-family:Verdana;
	font-size:12px;
	color:#c51400;
}
.loadingHolder{
	margin-top:300px;
	margin-left:220px;
}
.loadingimg{
	width:140px;
	height:140px;
}
.reportgenerate{
	margin-left:5px;
}
.form2550qHolder{
	margin-left: -264px;
	/* width: 1204px; */
	transform: scale(0.70);
	margin-top: -492px;
	image-rendering: -webkit-optimize-contrast;
}
.form1701qHolder{
	margin-left: -256px;
	/* width: 1204px; */
	transform: scale(0.70);
	margin-top: -270px;
	image-rendering: -webkit-optimize-contrast;
}
.form1701Holder{
	margin-left: -149px;
	width: 100%;
	transform: scale(0.56);
	margin-top: -9561px;
	image-rendering: -webkit-optimize-contrast;
}
.form1601cHolder{
	margin-left: -325px;
	transform: scale(0.67);
	margin-top: -615px;
	image-rendering: -webkit-optimize-contrast;
}
.form1601eHolder{
	margin-left: -264px;
	/* width: 1241px; */
	transform: scale(0.70);
	margin-top: -456px;
	image-rendering: -webkit-optimize-contrast;
}
