@media print{
	.reportHolderOR{
		width:100%;
		overflow:hidden !important;
		box-shadow:none !important;
		border:none !important;
		zoom:100% !important;
		height:auto !important;
		margin-left:20px !important;
	}
	.fromReg{
		margin-left:5px !important;
	}
}
@page {
    size: 8" x 13";
	margin:0.29in 0.44in 0.44in 0.29in;
}