@media print{
	.reportHolderOR{
		width:100%;
		overflow:hidden !important;
		box-shadow:none !important;
		border:none !important;
		zoom:95% !important;
		margin-left:10px !important;
		height:auto !important;
	}
	.tblIncomeStatement, tr td{
		padding-top:5px !important;
	}
	.balanceTable{
		margin-left:5px !important;
	}
	.incomeStatement{
		padding-left:5px !important;
	}
}
@page {
    size: 8" x 13";
	margin:0.29in 0.44in 0.44in 0.29in;
}